@font-face {
	font-family: Nota;
	font-weight: 600;
	src: url("../fonts/Nota-BoldWeb.woff") format('woff');
}

* {
	font-family: 'PT Sans', sans-serif;
}

html,body {
	height:100%;
}

.clickable {
	cursor: pointer;
}

body {
	margin: 0;
	background-color: #ffffff;
background-image: url(http://www.transparenttextures.com/patterns/binding-dark.png);
	/*background: url(../img/light-wool-1920x1080.png);*/
	/*background-size: cover;*/
	background-attachment: fixed;
	font-family: georgia;
}

/**
 
 * NAV BAR
 
 */
header {
	z-index: 99;
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: rgb(240,240,240);
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.52);
	/*background: radial-gradient(ellipse, rgba(0,0,0,0), rgba(0,99,99,0.5));*/
}

header li {
	display: inline;
	margin: 0px 15px 0px 15px;
	text-align: center;
	font-size: 1.3em;
}

ul {
	list-style-type: none;
}

/**
 
 * GENERAL
 
 */

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: darkblue;
}


i {
	font-size: 2em !important;
	margin: 0 0.2em;
}

h1 {
	text-align: center;
}

h3 {
	color: darkblue;
	text-align: left;
}

.v-align {
	position:relative;
	top: 40%;
	transform: translateY(-50%);
}

.center { 
	margin-left: auto;
	margin-right: auto;
}

.center-text {
	text-align: center;
}

.navy {
	color: navy;
}

.section, .section2 {
	padding: 5% 0;
	height: 100%;
	position: relative;
}

.section2 {
	box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.52);
	background-color: rgba(240,240,240,1);
	/*background-color: rgba(142,206,142,1);*/
	/*background-color: rgba(183,110,184,0.7);*/
	/*background-color: rgba(122, 245, 245,0.4);*/
}

/**
 
 * TOP SECTION
 
 */

.profile {
	position: absolute;
	top: 43%;
	left: 50%;
	transform: translate(-50%,-50%);
}

img.profilePic {
	width: 300px;
	border-radius: 25px;
	border-style: ridge;
	display:block;
}

/** 
 
 * ABOUT ME SECTION
 
 */

.articles {
	clear: both;
	color: black;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

article {
	width:60%;
}

/**
 
 * PROJECTS SECTION
 
 */

.project {
	
}

.project-name {
	text-align: center;
}

.project-details {
	display: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.project-details .thumbnail, 
.description {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
}

.project-details .description {
	padding-left: 1%;
}

.project-details img {
	width:100%;
}

.fresco-news * {
	font-family: Nota, sans-serif;
	font-size: 18px;
}

.ph4zergame * {
	font-family: 'VT323', monospace;
	font-size: 26px;
}

.absurdnyc * {
	font-family: 'Raleway', sans-serif;
}

.thebasement * {
	font-family: 'Bentham', serif;
	font-size: 19px;
}

.blackjack * {
	font-family: 'Lora', serif;
}

@media only screen and (max-device-width: 600px), (max-width: 600px) {
	.project-details .thumbnail, 
	.description {
		width: 100%;
		display: block;
	}
}

/** 
 
 * CONTACT SECTION
 
 */

.contact {
	text-align: center;
	font-size: 1.5em;
	height: initial;
}