<div id="contact-view" class='modal'>
	
	

	<div class="contact-section modal-content">
		
		<div id="contact-card">
			
			<div class="contact-header">
				Get in touch
				<a class='openModal' href="#landing"><i class="mdi mdi-window-close close-contactview-button"></i></a>
			</div>

			<div class="contact-form">
				
				<div class="contact-name">
					<input id='contact-form-name' class="fresco-input-field" type="text" placeholder='Name' required>
				</div>

				<div class="contact-email">
					<input id='contact-form-email' class="fresco-input-field" type="text" placeholder='Email' required>
				</div>

				<div class="contact-inquiry">
					<select id="contact-form-inquiry" class="fresco-select-field">
						<option value="" disabled selected>Type of Inquiry</option>
						<option value="Help">Help</option>
						<option value="Feedback">Feedback</option>
						<option value="Partnership">Partnership</option>
						<option value="Other">Other</option>
					</select>
				</div>

				<div class="contact-message">
					<textarea name="" id="contact-form-message" rows="5" placeholder='Message'></textarea>
				</div>
				
				<div class="contact-submit-button">
					<a id='contact-send-email' href="" data-contact-email='info@fresconews'>SEND MY MESSAGE</a>
				</div>

			</div>


		</div>

	</div>

</div>