<div class="position">
	<div class="job-title">
		Internship List
	</div>

	<div class="job-summary">
		Cat snacks favor packaging over toy and nap all day destroy couch but hate dog chew iPad power cord or leave fur on owners clothes rub face on everything. Under the bed attack feet or run in circles purr for no reason but stick butt in face play time but use lap as chair shake treat bag.
	</div>

	<div class="job-details">
		<div class="job-doing">
			What you'll be doing
			<ul>
				<li>This Thing</li>
				<li>Another thing</li>
				<li>That thing</li>
			</ul>	
		</div>
		<div class="job-knowhow">
			What you should know
			<ul>
				<li>How to Fresco</li>
				<li>Words</li>
				<li>Trivia</li>
			</ul>
		</div>
		<div class="job-misc">
			Misc
			<ul>
				<li>Grundle</li>
				<li>Gringus</li>
			</ul>
		</div>
	</div>

	<div class="job-submit-cv">
		If you're interested, <a href="mailto:elmir@fresconews.com">send us your CV here.</a>
	</div>
</div>

<div class="position">
	<div class="job-title">
		Dummy Text Author
	</div>

	<div class="job-summary">
		Cat snacks favor packaging over toy and nap all day destroy couch but hate dog chew iPad power cord or leave fur on owners clothes rub face on everything. Under the bed attack feet or run in circles purr for no reason but stick butt in face play time but use lap as chair shake treat bag.
	</div>

	<div class="job-details">
		<div class="job-doing">
			What you'll be doing
			<ul>
				<li>This Thing</li>
				<li>Another thing</li>
				<li>That thing</li>
			</ul>	
		</div>
		<div class="job-knowhow">
			What you should know
			<ul>
				<li>AP Style</li>
				<li>Good pizza spots</li>
				<li>Haskell</li>
			</ul>
		</div>
		<div class="job-misc">
			Misc
			<ul>
				<li>Grundle</li>
				<li>Gringus</li>
			</ul>
		</div>
	</div>

	<div class="job-submit-cv">
		If you're interested, <a href="mailto:elmir@fresconews.com">send us your CV here.</a>
	</div>
</div>

<div class="position">
	<div class="job-title">
		Dummy Text Author
	</div>

	<div class="job-summary">
		Cat snacks favor packaging over toy and nap all day destroy couch but hate dog chew iPad power cord or leave fur on owners clothes rub face on everything. Under the bed attack feet or run in circles purr for no reason but stick butt in face play time but use lap as chair shake treat bag.
	</div>

	<div class="job-details">
		<div class="job-doing">
			What you'll be doing
			<ul>
				<li>This Thing</li>
				<li>Another thing</li>
				<li>That thing</li>
			</ul>	
		</div>
		<div class="job-knowhow">
			What you should know
			<ul>
				<li>AP Style</li>
				<li>Good pizza spots</li>
				<li>Haskell</li>
			</ul>
		</div>
		<div class="job-misc">
			Misc
			<ul>
				<li>Grundle</li>
				<li>Gringus</li>
			</ul>
		</div>
	</div>

	<div class="job-submit-cv">
		If you're interested, <a href="mailto:elmir@fresconews.com">send us your CV here.</a>
	</div>
</div>

<div class="position">
	<div class="job-title">
		Dummy Text Author
	</div>

	<div class="job-summary">
		Cat snacks favor packaging over toy and nap all day destroy couch but hate dog chew iPad power cord or leave fur on owners clothes rub face on everything. Under the bed attack feet or run in circles purr for no reason but stick butt in face play time but use lap as chair shake treat bag.
	</div>

	<div class="job-details">
		<div class="job-doing">
			What you'll be doing
			<ul>
				<li>This Thing</li>
				<li>Another thing</li>
				<li>That thing</li>
			</ul>	
		</div>
		<div class="job-knowhow">
			What you should know
			<ul>
				<li>AP Style</li>
				<li>Good pizza spots</li>
				<li>Haskell</li>
			</ul>
		</div>
		<div class="job-misc">
			Misc
			<ul>
				<li>Grundle</li>
				<li>Gringus</li>
			</ul>
		</div>
	</div>

	<div class="job-submit-cv">
		If you're interested, <a href="mailto:elmir@fresconews.com">send us your CV here.</a>
	</div>
</div>