<div id="login-view" class='modal'>
	
		
	
	<div class="login-section modal-content">

<!-- LEFT SECTION OF VIEW -->
		<div class="login-graphic">
			<img src="http://placekitten.com/1072/603" alt="">
		</div>

	</div>

<!-- RIGHT SECTION OF VIEW -->
	<div class="login-forms">
		<div class="cell-clear">
			<!-- LOGIN CARD -->
			<div id="login-card">
			
				<div class="login-tab clickable">
					<div>
						Login
						<a class='openModal' href="#reset-pass"><i class='mdi mdi-help-circle forgot-password-icon'></i></a>
					</div>
				</div>

				<div class="login-form">
					<form action="" class="">
						<div class="email-input">
							<input type="text" class="fresco-input-field" placeholder='Email address' required>
						</div>
						<div class="password-input">
							<input type="password" class="fresco-input-field" placeholder='Password' required>
						</div>
						<div class="login-button">
							<div id='login-button' class='button clickable'>LOG IN</div>
						</div>
					</form>
				</div> <!-- login-form -->

			</div> <!-- login-card -->

			<!-- TRYOUT CARD -->
			<div id="tryout-card">
				
				<div class="tryout-tab clickable tab-unselected">
					<div>Try out Fresco News.</div>
				</div>

				<div class="tryout-form-full">
					
					<div class="tryout-form">
						
						<!-- first section -->
						<div class="outlet-header">
							<h4>Outlet Info</h4>
						</div>

						<div class="outlet-name">
							<input type="text" id='tryout-outlet-name' class="fresco-input-field" placeholder='Name'>
						</div>

						<div class="outlet-url">
							<input type="text" id='tryout-outlet-url' class="fresco-input-field" placeholder='Website URL'>
						</div>

						<div class="outlet-primary">
							<select id="tryout-outlet-type" class='fresco-select-field' required>
								<option value"" disabled selected>Outlet Type</option>
								<option value="TV Station">TV Station</option>
								<option value="Website">Website</option>
								<option value="Newspaper">Newspaper</option>
								<option value="Conglomerate">Conglomerate</option>
								<option value="Investor">Investor</option>
								<option value="Partner">Partner</option>
								<option value="Press">Press</option>
								<option value="Other">Other</option>
							</select>
						</div>

						<div class="outlet-state">
							<select id="tryout-outlet-state" class='fresco-select-field' required>
								<option value"" disabled selected>State</option>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="DC">District Of Columbia</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="HI">Hawaii</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
							</select>
						</div>

						<!-- second section -->
						<div class="tryout-info">
							<div>Your info</div>
							<p>You’ll be the owner of this outlet, responsible for inviting members and managing payment information. We can transfer ownership if needed.</p>
						</div>

						<div class="tryout-name">
							<input type="text" id='tryout-name' class="fresco-input-field" placeholder='Name'>
						</div>

						<div class="tryout-phone">
							<input type="text" id='tryout-phone' class="fresco-input-field" placeholder='Phone number'>
						</div>

						<div class="tryout-email">
							<input type="text" id='tryout-email' class="fresco-input-field" placeholder='Email'>
						</div>

						<div class="tryout-pass">
							<input type="password" id='tryout-pass' class="fresco-input-field" placeholder='Password'>
						</div>

						<div class="tryout-button">
							<div id='start-demo-button' class='button clickable'>START MY DEMO</div>
						</div>
										
					</div> <!-- tryout form -->

					<div class="tryout-agreement">
						<p>By signing up, you agree to our <br>
						<a href="#hsa" class='openModal'>Hosted Services Agreement.</a></p>
					</div>

				</div> <!-- tryout form full -->

			</div>

		</div>
	</div>

</div>