<nav class="nav-modal">
	<div class="nav-content">
		<div class="logo">
			<img src="images/wordmark@2x.png" alt="Fresco">
		</div><!--
	--><div class="links">
			
			<ul>
				<li><a class='openModal' href="#landing">HOME</a></li>
				<li><a class='openModal' href="#login">NEWS DASHBOARD</a></li>
			</ul>

		</div>
	</div>
</nav>