<div id="press-view" class='modal'>
	
	<div class="press-section modal-content">
		
		<div id="press-card" class='modal-card-l'>
			
			<div class="press-header">
				Fresco in the News
				<a class='openModal' href="#landing"><i class="mdi mdi-window-close close-pressview-button"></i></a>
			</div>
			
			<div class="press-articles">
				
				<% include press_article %>

			</div>

			<div class="press-kit">
				<div class="press-kit-google-drive">
					<i class="mdi mdi-google-drive"><span>FULL PRESS KIT</span></i>
				</div>
				<div class="press-kit-download">
					<i class="mdi mdi-download"><span>PRESS KIT PDF</span></i>
				</div>
			</div>
		</div>

	</div>

</div>