<div class="press-article">
	
	<div class="press-article-avatar fresco-circle">
		
	</div>
	
	<div class="press-article-details">

	<div class="press-article-details-wrapper">

		<div class="press-article-header">
			Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos
		</div>
		<div class="press-article-byline">
			Lora Kolodny • Wall Street Journal
		</div>
		<div class="press-article-summary-wrapper">
			<div class="vertical-bar"></div>
			<div class="press-article-summary">
				Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
			</div>
		</div>

	</div>
	</div>

</div>


<div class="press-article">
	
	<div class="press-article-avatar fresco-circle">
		
	</div>
	
	<div class="press-article-details">

	<div class="press-article-details-wrapper">

		<div class="press-article-header">
			Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos
		</div>
		<div class="press-article-byline">
			Lora Kolodny • Wall Street Journal
		</div>
		<div class="press-article-summary-wrapper">
			<div class="vertical-bar"></div>
			<div class="press-article-summary">
				Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
			</div>
		</div>

	</div>
	</div>

</div>


<div class="press-article">
	
	<div class="press-article-avatar fresco-circle">
		
	</div>
	
	<div class="press-article-details">

	<div class="press-article-details-wrapper">

		<div class="press-article-header">
			Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos
		</div>
		<div class="press-article-byline">
			Lora Kolodny • Wall Street Journal
		</div>
		<div class="press-article-summary-wrapper">
			<div class="vertical-bar"></div>
			<div class="press-article-summary">
				Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
			</div>
		</div>

	</div>
	</div>

</div>


<div class="press-article">
	
	<div class="press-article-avatar fresco-circle">
		
	</div>
	
	<div class="press-article-details">

	<div class="press-article-details-wrapper">

		<div class="press-article-header">
			Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos
		</div>
		<div class="press-article-byline">
			Lora Kolodny • Wall Street Journal
		</div>
		<div class="press-article-summary-wrapper">
			<div class="vertical-bar"></div>
			<div class="press-article-summary">
				Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
			</div>
		</div>

	</div>
	</div>

</div>


<div class="press-article">
	
	<div class="press-article-avatar fresco-circle">
		
	</div>
	
	<div class="press-article-details">

	<div class="press-article-details-wrapper">

		<div class="press-article-header">
			Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos
		</div>
		<div class="press-article-byline">
			Lora Kolodny • Wall Street Journal
		</div>
		<div class="press-article-summary-wrapper">
			<div class="vertical-bar"></div>
			<div class="press-article-summary">
				Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
			</div>
		</div>

	</div>
	</div>

</div>


<div class="press-article">
	
	<div class="press-article-avatar fresco-circle">
		
	</div>
	
	<div class="press-article-details">

	<div class="press-article-details-wrapper">

		<div class="press-article-header">
			Fresco News Raises $1.2 Million to Help Media Crowdsource Videos, Photos
		</div>
		<div class="press-article-byline">
			Lora Kolodny • Wall Street Journal
		</div>
		<div class="press-article-summary-wrapper">
			<div class="vertical-bar"></div>
			<div class="press-article-summary">
				Fresco’s seed investors include Reese Schonfeld, a co-founder of CNN and the Food Network; former Yahoo CEO Ross Levinsohn; former AOL Chief Executive Jon Miller; Michael Jones, former Myspace CEO and currently CEO of Science Inc.; and Mediabistro founder Laurel Touby. Other investors are early-stage funds Fresco Capital, 1517 Fund, Social Starts and others.
			</div>
		</div>

	</div>
	</div>

</div>


