<div id="reset-pass-view" class='modal'>
	
	

	<div class="reset-pass-section modal-content">
	
		<div id="reset-pass-card">
			
			<div class="reset-pass-header">
				Forgot your password?
			</div>

			<div class="reset-pass-email">
				<input id='reset-password-email' class='fresco-input-field' type="text" placeholder='Email adddress'>
			</div>

			<div class="reset-pass-button clickable">
				SEND RECOVERY LINK
			</div>


		</div>

	</div>

</div>