<div id="team-view" class='modal'>
	
	

	<div class='team-section modal-content'>
		
		<div id="team-card" class='modal-card-l'>
			
			<div class="team-header">
				Team
				<a class='openModal' href="#landing"><i class="mdi mdi-window-close close-teamview-button"></i></a>
			</div>
			
			<div class="team-members">
				

				<div class="team-pic">
					<img src="http://placekitten.com/700/400">
				</div>

				<div class="team-details">
					
					<table>  <!-- parent table: all info goes in here -->
						
						<tr> <!-- one row of 3 members -->

							<td class='single-team-member'> <!-- one member goes in here -->
								<table class='member-details'>  <!-- one table per member -->
									<tr>
										<td rowspan=3 class='member-avatar'> <!-- avatar -->
											<div class='fresco-circle'>
												<img src="http://placehold.it/100x100"> 
											</div>
										</td>
										<td class='member-name'>	<!-- name -->
											John Meyer
										</td>
									</tr>
									<tr>
										<td class='member-position'>
											Chief Executive Officer
										</td>
									</tr>
									<tr>
										<td class='member-handle'>
											@beastmode
										</td>
									</tr>
								</table>
							</td> <!-- end member 1 -->

							<td class='single-team-member'>
								<table class='member-details'>
									<tr>
										<td rowspan=3 class='member-avatar'>
											<div class='fresco-circle'>
												<img src="http://placehold.it/80x80">
											</div>
										</td>
										<td class='member-name'>
											Jeremy Ogorek
										</td>
									</tr>
									<tr>
										<td class='member-position'>
											Chief Financial Officer
										</td>
									</tr>
									<tr>
										<td class='member-handle'>
											@jeremyogo
										</td>
									</tr>
								</table>
							</td> <!-- end member 2 -->

							<td class="single-team-member">
								<table class='member-details'>
									<tr>
										<td rowspan=3 class='member-avatar'>
											<div class='fresco-circle'>
												<img src="http://placehold.it/80x80">
											</div>
										</td>
										<td class='member-name'>
											Kyle Marimon
										</td>
									</tr>
									<tr>
										<td class='member-position'>
											Partner Relations
										</td>
									</tr>
									<tr>
										<td class='member-handle'>
											@KyleMarimon
										</td>
									</tr>
								</table>
							</td> <!-- end member 3 -->

						</tr> <!-- end first row -->

						<tr>
							<td class='team-dept'>
								Design
							</td>
						</tr>  <!-- end second row -->


						<tr> <!-- one row of 3 members -->

							<td class='single-team-member'>
								<table class='member-details'>
									<tr>
										<td rowspan=3 class='member-avatar'>
											<div class='fresco-circle'>
												<img src="http://placehold.it/80x80">
											</div>
										</td>
										<td class='member-name'>
											Imogen Olsen
										</td>
									</tr>
									<tr>
										<td class='member-position'>
											Chief Design Officer
										</td>
									</tr>
									<tr>
										<td class='member-handle'>
											@imogenic
										</td>
									</tr>
								</table>
							</td> <!-- end member 1 -->

							<td class='single-team-member'>
								<table class='member-details'>
									<tr>
										<td rowspan=3 class='member-avatar'>
											<div class='fresco-circle'>
												<img src="http://placehold.it/80x80">
											</div>
										</td>
										<td class='member-name'>
											Erik Washington
										</td>
									</tr>
									<tr>
										<td class='member-position'>
											Graphic Designer
										</td>
									</tr>
									<tr>
										<td class='member-handle'>
											@NYCWashington
										</td>
									</tr>
								</table>
							</td> <!-- end member 2 -->

						</tr> <!-- end third row -->

						

					</table>  <!-- end parent table -->

				</div>


			</div>

		</div>


	</div>


</div>