<div id="tos-view" class='modal'>
	
	

	<div class="tos-section modal-content">
		
		<div id="tos-card">
			
			<div class="tos-tabs">
				<div data-tab-target='.terms-of-service' class="terms-tab selected-tab tab clickable">TERMS OF SERVICE</div>
				<div data-tab-target='.privacy-policy' class="privacy-tab tab clickable">PRIVACY POLICY</div>
				<a class='openModal' href="#landing"><i class="mdi mdi-window-close close-tosview-button"></i></a>
			</div>

			<div class="tos-body">
			<!-- MAKE SURE THERE ISN'T ANY SPACE BETWEEN THE <p> AND THE FIRST CHARACTER!!! -->
				<div class="terms-of-service selected-details">
					<p>This website, computing application, and the data, services, information, tools, functionality, updates and similar materials delivered or provided thereby (collectively, the “Service”) are supplied by Fresco News, Inc. (“Fresco”, “us” or “we”) subject to your agreement to and compliance with the conditions set forth in this Terms and Conditions Agreement (the “Agreement”). By creating an account to use the Service or otherwise entering into this Agreement, you are creating a binding contract with us. We may revise or update this Agreement by posting an amended version through the Service and making you aware of the revisions. Your use of the Service following an update to this Agreement (or other acceptance method) is considered acceptance of the updated Agreement. If you do not accept the changes, you must stop using the Service.
				
					LICENSE
					
					As long as you are in compliance with the conditions of this Agreement and all incorporated documents, we hereby grant you a limited, revocable, non-assignable, non-transferrable, non-sublicensable, non-commercial, non-exclusive license to use and access the Service only on your computing device for personal use. No rights not explicitly listed are granted.

					INCORPORATED TERMS

					The following additional terms are incorporated into this Agreement as if fully set forth herein:
					1. Privacy Policy
					2. Copyright Policy
					3. Complaint Policy (including Privacy and Trademark)

					DISCLAIMERS

					The Service allows its users and third-parties to post content and materials, which we do not review, control or endorse. You agree that we are not responsible for any content, advice or other materials appearing on or through the Service. We do not investigate or perform background checks on users of the Services. It is up to you to ensure your own safety in your interactions with other users of the Services and in your activities conducted in connection with the Service. Some users may request that you engage in certain activities, and if you choose to do so, such activities are at your absolute sole risk. You understand and agree that we are not responsible for any damage, injury, death or harm you may suffer as a result of your activities in response to solicitations on the Service.</p>
				</div>

				<div class="privacy-policy">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt debitis quae ullam blanditiis assumenda accusantium facere natus, nulla rem recusandae cupiditate beatae facilis neque corporis dolorem maiores repellendus quam!

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt debitis quae ullam blanditiis assumenda accusantium facere natus, nulla rem recusandae cupiditate beatae facilis neque corporis dolorem maiores repellendus quam!

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt debitis quae ullam blanditiis assumenda accusantium facere natus, nulla rem recusandae cupiditate beatae facilis neque corporis dolorem maiores repellendus quam!

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt debitis quae ullam blanditiis assumenda accusantium facere natus, nulla rem recusandae cupiditate beatae facilis neque corporis dolorem maiores repellendus quam!

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt debitis quae ullam blanditiis assumenda accusantium facere natus, nulla rem recusandae cupiditate beatae facilis neque corporis dolorem maiores repellendus quam!

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt debitis quae ullam blanditiis assumenda accusantium facere natus, nulla rem recusandae cupiditate beatae facilis neque corporis dolorem maiores repellendus quam!

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt debitis quae ullam blanditiis assumenda accusantium facere natus, nulla rem recusandae cupiditate beatae facilis neque corporis dolorem maiores repellendus quam!</p>
				</div>

			</div>

		</div>

	</div>

</div>