<div class="tryout">
	
	<div class="tryout-main">
		<div class="tryout-header">
			<h3>Try out Fresco News</h3>
		</div>
	
		<!-- first section -->
		<div class="outlet-header">
			<h4>Outlet Info</h4>
		</div>

		<div class="outlet-name">
			<input type="text" placeholder='Name'>
		</div>

		<div class="outlet-url">
			<input type="text" placeholder='Website URL'>
		</div>

		<div class="outlet-primary">
			<option value="">
				<select name="" id=""></select>
			</option>
		</div>

		<div class="outlet-state">
			<input type="text">
		</div>
	
		<!-- second section -->
		<div class="tryout-info">
			<div>
				<h4>Your info</h4>
				<p>You’ll be the owner of this outlet, responsible for inviting members and managing payment information. We can transfer ownership if needed.</p>
			</div>
		</div>

		<div class="tryout-name">
			<input type="text" placeholder='Name'>
		</div>

		<div class="tryout-phone">
			<input type="text" placeholder='Phone number'>
		</div>

		<div class="tryout-email">
			<input type="text" placeholder='Email'>
		</div>

		<div class="tryout-pass">
			<input type="password" placeholder='Password'>
		</div>

		<div class="tryout-start">
			<button>START MY DEMO</button>
		</div>
	</div>

	<div class="tryout-agreement">
		<p>By signing up, you agree to our <br>
		<a href="#agreement">Hosted Services Agreement.</a></p>
	</div>
</div>