@charset 'UTF-8';

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.frick
{
        margin-bottom: 48px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 1em;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    color: transparent;
    opacity: .25;
    background: black;
    content: '•';
    text-align: center;
    border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
}
.slick-dots li.frick-delete button:before
{
    background: red;
}
.frick-frame {
    position: relative;
    width: 100%;
    padding: 2px;
}
.frick-frame a {
    position: absolute;
    color: white;
    top: 12px;
    right: 12px;
    font-size: 24px;
    line-height: 24px;
    background: transparent;
    
    text-shadow: 0 2px 2px rgba(0,0,0,0.12);
    opacity: 0.7;
    
    -webkit-transition:text-shadow 0.2s linear; 
    -moz-transition:text-shadow 0.2s linear; 
    -ms-transition:text-shadow 0.2s linear; 
    -o-transition:text-shadow 0.2s linear; 
    transition:text-shadow 0.2s linear; 
    
    -webkit-transition:opacity 0.2s linear;
    -moz-transition:opacity 0.2s linear;
    -ms-transition:opacity 0.2s linear;
    -o-transition:opacity 0.2s linear; 
    transition:opacity 0.2s linear;    
}
.frick-frame a:hover {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 4px 4px rgba(0,0,0,0.12);
    opacity: 1;
}
.frick-frame a * {
    color: inherit;
    opacity: inherit;
}
.frick-frame img, .frick-frame video {
    width: 100%;
    height: auto;
}
.frick-overlay {
    pointer-events: none;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.frick-overlay > span {
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
}
.frick-overlay .mdi-delete {
    font-size: 96px;
    color: white;
}

.frick-overlay .md-type-caption {
    position: relative;
    top: 50px;
}

.frick-delete > .frick-overlay {
    opacity: 0.70;
    background-color: red;
}
.frick-delete > .frick-overlay > span {
    opacity: 0.75;
}